# Clerk Authentication Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

# Convex API Endpoint
NEXT_PUBLIC_CONVEX_URL=https://...convex.cloud

# EdgeStore Keys (File Uploads)
EDGE_STORE_ACCESS_KEY=...
EDGE_STORE_SECRET_KEY=...

# Nodemailer SMTP Keys (for Contact Form)
SMTP_HOST=smtp.gmail.com
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password
